@model IEnumerable<PlantShop.Models.Plants.Plant>

@{
    ViewData["Title"] = "Списък";
}

<h1 class="text-center">Списък</h1> <br>

@if (User.IsAdmin())
{    <p>
        <a asp-action="Create" class="btn btn-outline-primary">Създай нов запис</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img height="200" src= "@Url.Content(item.ImageUrl)" alt="Image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age) г.
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) лв
            </td>
            <td>
                @if (User.IsAdmin())
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Редактиране</a>
                }                 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success">Детайли</a>    
                @if (User.Identity.IsAuthenticated && !User.IsAdmin())
                {
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Добави в количката</a>
                }
                    @if (User.IsAdmin())
                {
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Изтриване</a>
                }                    
            </td>
        </tr>
}
    </tbody>
</table>
